<!DOCTYPE html> <!-- Объявление типа документа -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!-- Объявление пространства имен Thymeleaf -->
<head> <!-- Начало секции заголовка документа -->
    <meta charset="UTF-8"> <!-- Установка кодировки документа -->
    <title>User Management System</title> <!-- Заголовок страницы -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> <!-- Конец секции заголовка документа -->
<body> <!-- Начало секции тела документа -->

<div class="container mt-4">
    <h1>User Management System</h1> <!-- Заголовок страницы -->

    <!-- Форма для добавления нового пользователя -->
    <form th:action="@{/admin/addUser}" th:method="post" th:object="${user}" class="mb-4"> <!-- Отправка данных на сервер методом POST -->
        <!-- <input type="hidden" th:field="*{id}"/> -->
        <div class="form-group">
            <label for="name">Name:</label> <!-- Метка для поля "Имя" -->
            <input th:field="*{name}" type="text" id="name" name="name" class="form-control" required> <!-- Поле ввода для имени -->
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="age">Age:</label> <!-- Метка для поля "Email" -->
            <input th:field="*{age}" type="number" id="age" name="age" class="form-control" required> <!-- Поле ввода для возраста -->
        </div>
        <div class="form-group">
            <label>Roles:</label>
            <br/>
            <th:block th:each="role: ${allRoles}">
                <input class="form-check-input" type="checkbox" th:field="*{roles}" th:text="${role.name+' '}" th:value="${role.id} "/>
               <!-- <label th:for="${role.roleName}" class="form-check-label" th:text="${role.roleName}"></label> -->
            </th:block>
        </div>
        <button type="submit" class="btn btn-primary">Save</button> <!-- Кнопка отправки формы -->
    </form> <!-- Конец формы -->

    <!-- Таблица для отображения всех пользователей -->
    <table class="table table-bordered"> <!-- Таблица с границами -->
        <thead class="thead-dark"> <!-- Начало секции заголовка таблицы -->
        <tr> <!-- Начало строки заголовка таблицы -->
            <th>ID</th> <!-- Заголовок столбца "ID" -->
            <th>Name</th> <!-- Заголовок столбца "Имя" -->
            <th>Roles</th> <!-- Заголовок столбца "Роли" -->
            <th>Actions</th> <!-- Заголовок столбца "Действия" -->
        </tr> <!-- Конец строки заголовка таблицы -->
        </thead> <!-- Конец секции заголовка таблицы -->
        <tbody> <!-- Начало секции тела таблицы -->
        <!-- Итерация по каждому пользователю и отображение его данных -->
        <tr th:each="user : ${users}"> <!-- Для каждого пользователя в списке пользователей -->
            <td th:text="${user.id}"></td> <!-- Вывод ID пользователя -->
            <td th:text="${user.name}"></td> <!-- Вывод имени пользователя -->
            <td th:text="${user.roles}"></td> <!-- Вывод ролей пользователя -->
            <td>
                <div class="btn-group" role="group">
                    <form th:action="@{/admin/deleteUser}" th:method="post" class="mr-1"> <!-- Форма для отправки данных на сервер методом POST -->
                        <input type="hidden" name="id" th:value="${user.id}"> <!-- Скрытое поле для передачи ID пользователя -->
                        <button type="submit" class="btn btn-danger">Delete</button> <!-- Кнопка для удаления пользователя -->
                    </form> <!-- Конец формы -->
                    <form th:action="@{/admin/edit}" th:method="post"> <!-- Форма для отправки данных на сервер методом POST -->
                        <input type="hidden" name="id" th:value="${user.id}"> <!-- Скрытое поле для передачи ID пользователя -->
                        <button type="submit" class="btn btn-warning">Update</button> <!-- Кнопка для обновления пользователя -->
                    </form> <!-- Конец формы -->
                </div>
            </td>
        </tr> <!-- Конец строки таблицы -->
        </tbody> <!-- Конец секции тела таблицы -->
    </table> <!-- Конец таблицы -->
</div>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body> <!-- Конец секции тела документа -->
</html> <!-- Конец документа -->
